<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Course</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="container bg-light bg-gradient">

<header class="row mt-3 p-3 bg-primary bg-gradient">
  <h1 class="col-md-12 text-light text-center">Create an auditorium</h1>
</header>

<section class="container mt-5">

  <form class="col-md-3" th:method="POST" th:action="@{/auditoriums/add}">
    <input type="hidden" name="auditoriumId" th:value="(${auditoriumObject} != null ? ${auditoriumObject.getId_auditorium()} : '')">

    <div class="form-group">
      <label class="form-label" for='id_auditorium'>ID:</label>
      <input class="form-control" id='id_auditorium' type='text' name='id_auditorium' th:value="(${auditoriumObject} != null ? ${auditoriumObject.getId_auditorium()} : '')"/>
    </div>

    <div class="form-group">
      <label class="form-label" for='name_auditorium'>Name</label>
      <input class="form-control" id='name_auditorium' type='text' name='name_auditorium' th:value="(${auditoriumObject} != null ? ${auditoriumObject.getName_auditorium()} : '')"/>
    </div>

    <div class="form-group">
      <label class="form-label" for='num_seats'>Number of seats:</label>
      <input class="form-control" id='num_seats' type='text' name='num_seats' th:value="(${auditoriumObject} != null ? ${auditoriumObject.getNum_seats()} : '')"/>
    </div>

    <input class="btn btn-primary mt-3" type='submit' value='Submit'/>
  </form>


</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>